<h1>CONATCT SECTION</h1>
<div class="ico text-center"><i class="fa-solid fa-star"></i></div>
<div class="contact pb-5">
    <div class="mb-3">
        <input type="text" class="form-control form-control-lg border-0 border-bottom" placeholder="User Name">
      </div>
      <div class="mb-3">
        <input type="number" class="form-control form-control-lg border-0 border-bottom" placeholder="User Age">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control form-control-lg border-0 border-bottom" placeholder="User Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control form-control-lg border-0 border-bottom" placeholder="User Password">
      </div>
      <button class="btn btn-success">Send Message</button>
</div>