<div class="portfolio">
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="ico"><i class="fa-solid fa-star"></i></div>
</div>
 

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-body">
          <img src="../../assets/images/poert1.png" class="w-100" alt="">
        </div>     
      </div>
    </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-body">
          <img src="../../assets/images/port2.png" class="w-100" alt="">
        </div>     
      </div>
    </div>
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-body">
          <img src="../../assets/images/port3.png" class="w-100" alt="">
        </div>     
      </div>
    </div>

<div class="row g-4 container mx-auto">
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../../assets/images/poert1.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <img src="../../assets/images/port2.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <img src="../../assets/images/port3.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../../assets/images/poert1.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <img src="../../assets/images/port2.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <img src="../../assets/images/port3.png" class="w-100" alt="">
            <div class="layer">
                <span>+</span>
            </div>
        </div>
    </div>
</div>