<div class="home">
   <div class="image pb-5">
    <img src="../../assets/images/avataaars.svg" class="w-75 mb-5" alt="">
   </div>
   <h1>START FRAMEWORK</h1>
   <div class="ico"><i class="fa-solid fa-star"></i></div>
   <p>Graphic Artist - Web Designer - Illustrator</p>
</div>















<!-- 1-data interplation
 <h1>welcome ya {{userName}} Lorem ipsum dolor sit.</h1>

  2-property binding -->
  <!-- <img [src]="imgPath"> -->

  <!-- 3-even binding -->
<!-- <button (click)="test()" class="p-4 bg-teal-400"></button> -->

<!-- 4-class binding -->

<!-- two way data bining -->
<!-- <input [(ngModel)]="userWord"> -->

<!-- <h1>hiiiiii :{{userWord}}</h1> -->
